{{! // this is the common header }}

<div class="header">
  <h1>WeatherQueue</h1>
  <div class="header-list">
    <ul>
      <li> <a href="/home"> Home</a> </li>
      <li> <a href="/about">About Us</a></li>
      <li> <a href="/contact"> Contact us</a></li>
    </ul>
  </div>
</div>
<hr />