<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    {{>header}}
    <div class="aboutflex">
  <div class="aboutus">
    <h1>About weatherQueue</h1>
     <p>Initially launched in early 2015, the weatherQueue API has slowly become the industry standard and one of the most popular solutions for global real-time weather information.
</p>
   </div>
     <div class="story">
        <h1></h1>
        <h3>Our Story</h3>
        <p>In early 2015, weatherQueue was launched under a different name to provide one of the first self-service based weather information web services offering weather data in real-time. Through the years, the API gradually became more and more popular among developers and companies worldwide and was extended to also enable customers to retrieve historical weather data and weather forecasts in a straightforward and lightweight fashion. Today, the weatherQueue API is used by more than 75,000 individuals, freelancers, SMBs and large corporations globally as a reliable and consistent way of getting the latest available weather information for almost every location on earth.
</p>
    </div>
  
    </div>
    {{>footer}}
</body>
</html>