<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}
   <div class="aboutus">
    <h1>Contact Sales & Customer Support</h1>
<p> Feel like getting in touch with Customer Support or Sales? Feel free to use the contact form below and don't forget to take a quick look at the frequently asked questions below.
</p>
   </div>
    {{>footer}}
</body>
</html>